/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body{
    background-color: #1FB0EF;
    text-align: center;
}
.container{
    display: flex;
    width: 1200px;
    height: 100vh;
    margin: auto;
    align-items: center;  
}